@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.signup {
  height: 75vh;
  width: 100vw;
  margin: auto;
  @include flex-center(column);
  gap: 1.6rem;

  &-title {
    font-size: 3.2rem;
  }

  &-or {
    font-size: 1.4rem;
  }

  &-form {
    @include flex-center(column);
    gap: 1.6rem;
    width: 100%;

    &__input {
      width: 20.8rem;
      border: 1.5px solid $lightgreen-background;
      height: 3.5rem;
      padding: 0 1.6rem;
      border-radius: 0.4rem;

      &:focus {
        border-color: $forestgreen-background;
      }
    }

    &__btn {
      width: 24rem;
      height: 4rem;
      border: none;
      background-color: $forestgreen-background;
      border-radius: 0.4rem;
      color: $cream-background;
      font-family: "NunitoSans";
      font-size: 1.8rem;

      &:hover {
        background-color: $darkgreen-font;
      }
    }

    &__err {
      color: red;
      font-size: 1.3rem;
    }
  }
}
