@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.editprofile {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  min-height: 70vh;
  max-width: 120rem;
  margin: auto;

  @include tablet-up {
    padding: 2.4rem;
  }

  @include desktop-up {
    padding: 3.6rem;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;

    &__label {
      display: flex;
      flex-direction: column;
    }

    &__input {
      border: 1px $lightgreen-background solid;
      height: 5rem;
      border-radius: 0.4rem;
      padding: 1.6rem;

      &:focus {
        border-color: $forestgreen-background;
      }

      &--bio {
        height: 20rem;
      }
    }

    &__btn {
      background-color: $forestgreen-background;
      color: white;
      padding: 0 1.6rem;
      border-radius: 2rem;
      height: 3rem;
      width: fit-content;
      @include flex-center;
      border: none;
      align-self: flex-end;

      &:hover {
        background-color: $darkgreen-font;
      }
    }
  }
}
