@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  background-color: $lightgreen-background;
  height: 10rem;
  color: $darkgreen-font;
  @include flex-center;
}
