@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.itemCart {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
  padding: 1.6rem;
  border-bottom: $lightgreen-background 1px solid;

  @include tablet-up {
    flex-direction: row;
    gap: 0;
    max-width: 110rem;
    margin: auto;
  }

  &-data {
    display: flex;
    gap: 1.6rem;
    align-items: flex-start;

    @include tablet-up {
      gap: 2.4rem;
    }
  }

  &-amount {
    display: flex;
    justify-content: space-between;

    @include tablet-up {
      width: 50%;
      padding-right: 2.4rem;
    }
  }

  &-img {
    width: 10rem;
  }

  &-remove {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    background: none;
    color: $darkgreen-font;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  &-info {
    width: 25rem;
  }

  &-quantity {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 2rem;

    &-bar {
      display: flex;
      align-items: center;

      &__btn {
        border: none;
        background-color: $forestgreen-background;
        height: 2.3rem;
        width: 2.3rem;
        color: white;

        &:hover {
          cursor: pointer;
          background-color: $darkgreen-font;
        }
      }

      &__field {
        width: 4rem;
        text-align: center;
      }
    }

    &__max {
      font-size: 2rem;
    }
  }

  &-total {
    @include flex-center;
    font-size: 2rem;
  }
}

//Google Chrome
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//Firefox
input[type="number"] {
  -moz-appearance: textfield;
}
